@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
/*@import './example';*/
/*Color palette*/
:root {
  --light-color: #fff;
  --primaries-color: rgba(17, 21, 24, 1);
  --acsent-color: rgba(255, 107, 9, 1);
  --secondary-color: rgba(61, 61, 61, 1);
  --grey-text-color: rgba(185, 185, 185, 1);
  --grey-bg-color: rgba(241, 241, 241, 1);
  --backdrop-color: rgba(17, 21, 24, 0.9);
  --icon-color: #ff6b09;
  --text-color: #111518;
  --accent-text-color: #b9b9b9;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  color: var(--primaries-color);
  background-color: var(--light-color);
  letter-spacing: 0.08em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title--upp {
  text-transform: uppercase;
}

.link {
  text-decoration: none;
  cursor: pointer;
}
.link:focus {
  outline: none;
}

.item {
  list-style-type: none;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    padding: 0 20px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 40px;
  }
}
@media screen and (min-width: 1366px) {
  .container {
    width: 1366px;
    padding: 0 26px;
  }
}

h1 {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.36;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 26px;
    line-height: 1.3;
  }
}
@media screen and (min-width: 1366px) {
  h1 {
    font-size: 58px;
    margin-bottom: 50px;
  }
}

h2 {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.36;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 26px;
    line-height: 1.3;
  }
}
@media screen and (min-width: 1366px) {
  h2 {
    font-size: 46px;
    margin-bottom: 50px;
  }
}

h3 {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1366px) {
  h3 {
    font-size: 30px;
    line-height: 1.23;
    margin-bottom: 45px;
  }
}

h4 {
  font-weight: bold;
  font-size: 14px;
  line-height: 2;
  margin-bottom: 5px;
  text-transform: uppercase;
}
@media screen and (min-width: 1366px) {
  h4 {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 25px;
  }
}

h5 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.65;
  margin-bottom: 10px;
}
@media screen and (min-width: 1366px) {
  h5 {
    font-size: 20px;
  }
}

h6 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.43;
  margin-bottom: 42px;
}
@media screen and (min-width: 768px) {
  h6 {
    margin-bottom: 52px;
  }
}
@media screen and (min-width: 1366px) {
  h6 {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 32px;
  }
}

/*h5-modified*/
.section-programm .list-programm .aspect-item .topic-title {
  font-weight: bold;
  font-size: 12px;
  line-height: 1.67;
  margin-bottom: 5px;
}
@media screen and (min-width: 1366px) {
  .section-programm .list-programm .aspect-item .topic-title {
    font-size: 20px;
    line-height: 1.65;
    margin-bottom: 5px;
  }
}

.section-programm .list-programm .aspect-item .topic-item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: var(--grey-text-color);
}
@media screen and (min-width: 1366px) {
  .section-programm .list-programm .aspect-item .topic-item {
    font-size: 18px;
    line-height: 1.56;
  }
}

/*form-title*/
.contacts .form-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .contacts .form-title {
    font-size: 14px;
    line-height: 1.21;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1366px) {
  .contacts .form-title {
    font-size: 30px;
    line-height: 1.23;
    margin-bottom: 56px;
  }
}

/* компоненты*/
.input {
  display: block;
  width: 280px;
  min-height: 48px;
  padding: 15px 28px;
  margin: 0 auto;
  margin-bottom: 20px;
  cursor: text;
  border: 1px solid var(--light-color);
  color: var(--light-color);
  background-color: transparent;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
}
.input:hover,
.input :active,
.input :focus {
  outline: none;
  border: 1px solid var(--acsent-color);
}
@media screen and (min-width: 768px) {
  .input {
    width: 390px;
  }
}
@media screen and (min-width: 1366px) {
  .input {
    width: 478px;
    min-height: 70px;
    padding: 23px 40px;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 30px;
  }
}

.numbered-list {
  background-color: var(--light-color);
  padding: 20px 14px 20px 30px;
  margin-bottom: -10px;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  counter-reset: section;
}
.numbered-list .item-title {
  color: var(--acsent-color);
  line-height: 1.21;
  margin-bottom: 10px;
}
.numbered-list .item-title::before {
  counter-increment: section;
  content: "— 0" counter(section);
}
.numbered-list .item {
  margin-bottom: 10px;
}
.numbered-list .text-wide {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.43;
}
@media screen and (min-width: 768px) {
  .numbered-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 30px 84px 25px 96px;
    margin-right: -44px;
    margin-bottom: -8px;
  }
  .numbered-list .item {
    flex-basis: calc((100% - 88px) / 2);
    margin-right: 44px;
    margin-bottom: 8px;
  }
  .numbered-list .item .text-wide {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) and (max-width: 1366px) {
  .numbered-list .item-low {
    flex-basis: 148px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1366px) {
  .numbered-list {
    padding: 70px 82px 62px 114px;
    margin-right: -40px;
    margin-bottom: -32px;
  }
  .numbered-list .item-title {
    line-height: 1.65;
    margin-bottom: 10px;
  }
  .numbered-list .item {
    flex-basis: calc((100% - 120px) / 3);
    margin-right: 40px;
    margin-bottom: 32px;
  }
  .numbered-list .text-wide {
    font-size: 20px;
    line-height: 1.4;
  }
}

.button {
  display: inline-block;
  width: 260px;
  min-height: 48px;
  padding: auto;
  margin: 0;
  cursor: pointer;
  border: 1px solid var(--acsent-color);
  background-color: var(--acsent-color);
  color: var(--light-color);
  font-weight: bold;
  font-size: 12px;
  line-height: 1.25;
  text-transform: uppercase;
}
.button:active {
  outline: none;
}
.button-inverse {
  color: var(--acsent-color);
  background-color: transparent;
}
@media screen and (min-width: 1366px) {
  .button {
    width: 336px;
    min-height: 70px;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.14em;
  }
}

.numbered-list {
  background-color: var(--light-color);
  padding: 20px 14px 20px 30px;
  margin-bottom: -10px;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  counter-reset: section;
}
.numbered-list .item-title {
  color: var(--acsent-color);
  line-height: 1.21;
  margin-bottom: 10px;
}
.numbered-list .item-title::before {
  counter-increment: section;
  content: "— 0" counter(section);
}
.numbered-list .item {
  margin-bottom: 10px;
}
.numbered-list .text-wide {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.43;
}
@media screen and (min-width: 768px) {
  .numbered-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 30px 84px 25px 96px;
    margin-right: -44px;
    margin-bottom: -8px;
  }
  .numbered-list .item {
    flex-basis: calc((100% - 88px) / 2);
    margin-right: 44px;
    margin-bottom: 8px;
  }
  .numbered-list .item .text-wide {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) and (max-width: 1366px) {
  .numbered-list .item-low {
    flex-basis: 148px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1366px) {
  .numbered-list {
    padding: 70px 82px 62px 114px;
    margin-right: -40px;
    margin-bottom: -32px;
  }
  .numbered-list .item-title {
    line-height: 1.65;
    margin-bottom: 10px;
  }
  .numbered-list .item {
    flex-basis: calc((100% - 120px) / 3);
    margin-right: 40px;
    margin-bottom: 32px;
  }
  .numbered-list .text-wide {
    font-size: 20px;
    line-height: 1.4;
  }
}

/* секции */
.how-we-do {
  padding-top: 50px;
  padding-bottom: 50px;
  /*@media screen and (max-width: 479px) {
    width: 320px;
  }*/
}
@media screen and (min-width: 768px) {
  .how-we-do {
    padding-top: 252px;
  }
}
@media screen and (min-width: 1366px) {
  .how-we-do {
    padding-top: 280px;
  }
}

.main-title {
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1366px) {
  .main-title {
    margin-bottom: 50px;
    text-align: left;
  }
}

.action-description {
  text-align: center;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .action-description {
    margin: -13px -10px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1366px) {
  .action-description {
    margin: -10px;
  }
}
.action-description .action-card {
  margin-bottom: 15px;
  padding-top: 30px;
  width: 100%;
  height: 280px;
  background-color: var(--light-color);
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
}
.action-description .action-card:last-child {
  margin-bottom: 0;
}
.action-description .action-card:hover {
  background-color: var(--icon-color);
}
.action-description .action-card:hover .icon-card, .action-description .action-card:hover .action-title, .action-description .action-card:hover .action-text, .action-description .action-card:focus .icon-card, .action-description .action-card:focus .action-title, .action-description .action-card:focus .action-text {
  fill: var(--light-color);
  color: var(--light-color);
}
.action-description .action-card:hover .action-title::before, .action-description .action-card:focus .action-title::before {
  background-color: var(--light-color);
}
@media screen and (min-width: 480px) {
  .action-description .action-card {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .action-description .action-card {
    display: inline-flex;
    flex-direction: column;
    padding-top: 40px;
    margin: 13px 10px;
    width: 334px;
    height: 334px;
  }
  .action-description .action-card:nth-child(5) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) and (min-width: 1366px) {
  .action-description .action-card {
    width: 425px;
    height: 396px;
    margin: 10px;
  }
  .action-description .action-card:nth-child(2n+3) {
    width: 424px;
  }
  .action-description .action-card:nth-child(4) {
    margin-bottom: 0;
  }
}

.icon-card {
  margin-bottom: 20px;
  fill: var(--icon-color);
}
@media screen and (min-width: 768px) {
  .icon-card {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }
}

.action-title {
  position: relative;
  margin: 0;
  padding-bottom: 42px;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.08em;
  text-transform: none;
  color: var(--text-color);
}
@media screen and (min-width: 768px) {
  .action-title {
    padding-bottom: 52px;
  }
}
.action-title::before {
  content: " ";
  position: absolute;
  bottom: 18px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 2px;
  background-color: var(--icon-color);
}
@media screen and (min-width: 768px) {
  .action-title::before {
    bottom: 23px;
  }
}
@media screen and (min-width: 1366px) {
  .action-title::before {
    bottom: 26px;
  }
}
@media screen and (min-width: 1366px) {
  .action-title {
    font-size: 20px;
    line-height: 28px;
  }
}

@media screen and (min-width: 1366px) {
  .wrap-title {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.action-text {
  padding: 0 11px;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: var(--accent-text-color);
}
@media screen and (min-width: 768px) {
  .action-text {
    padding-right: 21px;
    padding-left: 21px;
  }
}
@media screen and (min-width: 1366px) {
  .action-text {
    font-size: 18px;
    line-height: 28px;
  }
  .action-text:nth-child(3) {
    padding-right: 28px;
    padding-left: 28px;
  }
}
.action-text .text {
  padding: 0;
}
@media screen and (min-width: 768px) {
  .action-text .text {
    padding-right: 21px;
    padding-left: 21px;
  }
}

.acsent {
  color: var(--acsent-color);
}

.section-problems {
  background-image: linear-gradient(to bottom, var(--primaries-color) 75%, var(--light-color) 75%);
  padding-top: 50px;
}
.section-problems .section-title {
  color: var(--light-color);
}
@media screen and (min-width: 768px) {
  .section-problems {
    padding-top: 60px;
  }
}
@media screen and (min-width: 1366px) {
  .section-problems {
    padding-top: 80px;
  }
}
@media screen and (min-width: 768px) {
  .section-problems .numbered-list .item {
    /*width: 252px;*/
  }
}
@media screen and (min-width: 768px) and (max-width: 1366px) {
  .section-problems .numbered-list .item:nth-child(n+5) {
    margin-top: 32px;
  }
}

.about {
  padding-top: 39px;
  padding-bottom: 50px;
}
@media screen and (min-width: 1366px) {
  .about {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.teacher {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .teacher {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1366px) {
  .teacher {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .experience-box {
    display: flex;
  }
}

.teacher-photo {
  display: block;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .teacher-photo {
    margin-bottom: 0;
    margin-right: 40px;
  }
}
@media screen and (min-width: 768px) {
  .teacher-photo .teacher-image {
    max-width: none;
  }
}
@media screen and (min-width: 1366px) {
  .teacher-photo .teacher-image {
    width: 530px;
    height: 667px;
  }
}

@media screen and (min-width: 768px) {
  .text-box {
    max-width: 402px;
  }
}
@media screen and (min-width: 1366px) {
  .text-box {
    max-width: 641px;
  }
}

.teacher-name {
  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--grey-text-color);
}
@media screen and (min-width: 1366px) {
  .teacher-name {
    margin-bottom: 30px;
    padding-bottom: 15px;
  }
}

.experience {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 21px;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .experience {
    padding-bottom: 18px;
    margin-bottom: 18px;
  }
}
@media screen and (min-width: 1366px) {
  .experience {
    padding-bottom: 32px;
    margin-bottom: 32px;
  }
}
.experience::before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: var(--acsent-color);
}

.experience-description {
  position: relative;
  margin-bottom: 20px;
  padding-left: 26px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.06em;
  color: var(--text-color);
}
.experience-description:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 1366px) {
  .experience-description {
    padding-left: 36px;
    font-size: 16px;
    line-height: 20px;
  }
}
.experience-description::before {
  content: " ";
  position: absolute;
  left: 0;
  width: 17px;
  height: 14px;
  background-image: url("/check.4b7c2681.svg");
}

.text-wrap {
  padding-right: 20px;
}

.experience-text {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: var(--accent-text-color);
}
@media screen and (min-width: 1366px) {
  .experience-text {
    font-size: 17px;
    line-height: 28px;
  }
}

.text-margin {
  margin-bottom: 10px;
}

.certificate {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.06em;
  text-decoration-line: underline;
  color: var(--icon-color);
}
@media screen and (min-width: 1366px) {
  .certificate {
    font-size: 18px;
    line-height: 28px;
  }
}

.acsent {
  color: var(--acsent-color);
}

.section-programm {
  background-image: linear-gradient(to bottom, var(--primaries-color) 90%, var(--light-color) 90%);
  padding-top: 50px;
}
.section-programm .section-title {
  color: var(--light-color);
  text-align: center;
}
@media screen and (min-width: 768px) {
  .section-programm .section-title {
    text-align: start;
  }
}
@media screen and (min-width: 1366px) {
  .section-programm .section-title {
    margin-bottom: 100px;
  }
}
.section-programm .section-title-img {
  position: relative;
  text-align: start;
}
.section-programm .section-title-img .hidden {
  display: inline-block;
  width: 181px;
}
.section-programm .section-title-img ::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 180px;
  bottom: 0;
  width: 176px;
  height: 137px;
  background-image: url(/bg-programm-img.4456a6a7.png);
  background-size: 176px 137px;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .section-programm .section-title-img .hidden {
    width: 100%;
    text-align: center;
  }
  .section-programm .section-title-img ::after {
    left: 50%;
    top: -330px;
    width: 384px;
    height: 280px;
    background-size: 384px 280px;
  }
}
@media screen and (min-width: 1366px) {
  .section-programm .section-title-img {
    height: 114px;
    width: 100%;
    margin-bottom: 50px;
  }
  .section-programm .section-title-img .hidden {
    color: var(--primaries-color);
  }
  .section-programm .section-title-img ::after {
    left: -280px;
    top: -198px;
    width: 760px;
    height: 502px;
    background-image: url(/bg-programm-img2.1a48c49a.png);
    background-size: 760px 502px;
  }
}
.section-programm .list-programm {
  padding: 13px 0 8px 74px;
}
.section-programm .list-programm > .item {
  padding: 0 0 40px 20px;
}
@media screen and (max-width: 1366px) {
  .section-programm .list-programm > .item:not(:last-child) {
    border-left: 1px solid var(--light-color);
  }
}
.section-programm .list-programm .items-title {
  display: flex;
  position: relative;
  top: -8px;
  margin-bottom: 0;
  align-items: center;
  color: var(--light-color);
}
.section-programm .list-programm .items-title::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: -26px;
  border-radius: 50%;
  background-color: var(--acsent-color);
  height: 12px;
  width: 12px;
}
.section-programm .list-programm .aspect-item:not(:last-child) {
  margin-bottom: 16px;
}
.section-programm .list-programm .aspect-item .topic-title {
  color: var(--acsent-color);
  margin-bottom: 16px;
}
.section-programm .list-programm .aspect-item .topic-item {
  margin-bottom: 2px;
  opacity: 0.5;
}
@media screen and (min-width: 768px) and (max-width: 1366px) {
  .section-programm .list-programm {
    padding: 22px 0 190px 62px;
  }
  .section-programm .list-programm > .item {
    padding: 0 0 30px 56px;
  }
  .section-programm .list-programm > .item .items-title::before {
    left: -62px;
  }
  .section-programm .list-programm .list-second {
    display: flex;
    justify-content: start;
  }
  .section-programm .list-programm .list-second .aspect-item:not(:last-child) {
    margin-right: 50px;
  }
  .section-programm .list-programm .list-second .aspect-item:nth-child(1) {
    width: 183px;
  }
  .section-programm .list-programm .list-second .aspect-item:nth-child(2) {
    width: 163px;
  }
  .section-programm .list-programm .list-second .aspect-item:nth-child(3) {
    width: 110px;
  }
  .section-programm .list-programm .list-second .aspect-item .topic-title {
    margin-bottom: 10px;
  }
  .section-programm .list-programm .list-second .aspect-item .topic-item {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1366px) {
  .section-programm .list-programm {
    padding: 60px 0 0;
    margin-right: -30px;
    border-top: 1px solid var(--light-color);
  }
  .section-programm .list-programm > .item {
    padding: 0;
    margin-right: 30px;
    flex-basis: calc((100%-150px) / 5);
  }
  .section-programm .list-programm > .item .items-title {
    top: 0;
    margin-bottom: 25px;
  }
  .section-programm .list-programm > .item .items-title::before {
    top: -68px;
    left: 0;
    height: 16px;
    width: 17px;
  }
}
.section-programm .numbered-list {
  position: relative;
  z-index: 2;
  margin-bottom: -20px;
}
.section-programm .numbered-list .item {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .section-programm {
    background-image: linear-gradient(to bottom, var(--primaries-color) 84%, var(--light-color) 84%);
    padding-top: 60px;
  }
  .section-programm .numbered-list {
    margin-bottom: -30px;
  }
  .section-programm .numbered-list .item {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1366px) {
  .section-programm {
    /*background-image: linear-gradient(
      to bottom,
      var(--primaries-color) 86%,
      var(--light-color) 86%
    );*/
    padding-top: 120px;
  }
  .section-programm .list-programm {
    display: flex;
    justify-content: space-between;
  }
  .section-programm .numbered-list {
    padding-left: 82px;
  }
}

.hero {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--light-color);
  background-image: url(/bg-hero-mobile.5cacf7d3.png);
  background-size: 100% 100%;
  background-position: top;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .hero {
    padding-bottom: 93px;
    background-image: url(/bg-hero-tablet.41a00e97.png);
  }
}
@media screen and (min-width: 1366px) {
  .hero {
    padding-top: 125px;
    padding-bottom: 144px;
    background-image: url(/bg-hero.b58e3bad.png);
  }
}
.hero h1 {
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .hero .container {
    display: flex;
  }
}
.hero p {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.57;
}
@media screen and (min-width: 1366px) {
  .hero p {
    font-size: 20px;
    line-height: 1.64;
  }
}
.hero p .second-title-hero {
  color: var(--grey-text-color);
}
.hero p .third-title-hero {
  color: var(--acsent-color);
}
@media screen and (max-width: 767px) {
  .hero button {
    display: block;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}
.hero .picture {
  position: relative;
  width: 100%;
}
.hero .picture img {
  display: block;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .hero .picture img {
    position: absolute;
    top: 13px;
    right: -19px;
    max-width: none;
  }
}
@media screen and (min-width: 1366px) {
  .hero .picture img {
    top: -80px;
    right: -140px;
  }
}

.hero .thumb {
  width: 100%;
}

.garantee {
  padding-bottom: 50px;
}
@media screen and (min-width: 1366px) {
  .garantee {
    padding-bottom: 130px;
  }
}

.garantee-title {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 26px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1366px) {
  .garantee-title {
    margin-bottom: 50px;
    font-size: 46px;
  }
}

.garantee-list {
  padding: 30px 20px;
  width: 100%;
  list-style: none;
  background-color: var(--grey-bg-color);
}
@media screen and (min-width: 768px) {
  .garantee-list {
    padding-left: 79px;
    padding-right: 50px;
  }
}
@media screen and (min-width: 1366px) {
  .garantee-list {
    padding-top: 50px;
    padding-left: 112px;
    padding-right: 112px;
    padding-bottom: 45px;
  }
}

.garantee-text {
  position: relative;
  padding-left: 28px;
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.03em;
  border-left: 1px dashed var(--accent-text-color);
  color: var(--secondary-color);
}
.garantee-text:last-child {
  padding-bottom: 0;
  border-left: none;
}
.garantee-text::before {
  content: "";
  position: absolute;
  left: -8px;
  top: 0;
  width: 14px;
  height: 20px;
  background-image: url("/fire.8570960f.svg");
}
@media screen and (min-width: 1366px) {
  .garantee-text::before {
    width: 22px;
    height: 30px;
  }
}
@media screen and (min-width: 768px) {
  .garantee-text {
    padding-left: 24px;
    font-size: 12px;
    line-height: 20px;
  }
}
@media screen and (min-width: 1366px) {
  .garantee-text {
    padding-left: 30px;
    font-size: 20px;
    line-height: 28px;
  }
}

.text-color {
  color: var(--icon-color);
}

.contacts {
  padding: 50px 0;
  background-color: var(--primaries-color);
  background-image: url(/bg-contacts-img.55497c91.png);
  background-size: cover;
  color: var(--light-color);
  text-align: center;
}
.contacts .button {
  margin-top: 50px;
}
@media screen and (max-width: 767px) {
  .contacts .container {
    width: 320px;
  }
  .contacts .container .section-title {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    pagging-bottom: 70px;
  }
  .contacts .button {
    margin-top: 30px;
  }
}
@media screen and (min-width: 1366px) {
  .contacts {
    padding: 100px 0 62px;
  }
  .contacts .section-title {
    padding: 0 112px;
  }
}

.advantage {
  padding: 30px 0 50px;
}
@media screen and (min-width: 768px) {
  .advantage {
    padding-top: 50px;
  }
}
@media screen and (min-width: 1366px) {
  .advantage {
    padding: 100px 0 130px;
  }
}
.advantage .container {
  width: 100%;
}
@media screen and (min-width: 480px) {
  .advantage .container {
    width: 480px;
  }
}
@media screen and (max-width: 767px) {
  .advantage .container {
    padding: 0 54px;
  }
}
@media screen and (min-width: 768px) {
  .advantage .container {
    width: 768px;
  }
}
@media screen and (min-width: 1366px) {
  .advantage .container {
    width: 1344px;
  }
}
@media screen and (min-width: 768px) {
  .advantage .list {
    display: flex;
  }
}
@media screen and (max-width: 767px) {
  .advantage .item:nth-child(2) {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 767px) and (min-width: 351px) {
  .advantage .item:nth-child(2) {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 767px) and (min-width: 358px) {
  .advantage .item:nth-child(2) {
    margin-top: 40px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 767px) and (min-width: 410px) {
  .advantage .item:nth-child(2) {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 767px) and (min-width: 470px) {
  .advantage .item:nth-child(2) {
    margin-top: 50px;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 767px) and (min-width: 477px) {
  .advantage .item:nth-child(2) {
    margin-top: 60px;
    margin-bottom: 70px;
  }
}
.advantage .item {
  display: flex;
  align-items: center;
  position: relative;
}
.advantage .item .item-title {
  margin-left: 68px;
}
@media screen and (min-width: 768px) {
  .advantage .item .item-title {
    margin-left: 75px;
  }
}
@media screen and (min-width: 1366px) {
  .advantage .item .item-title {
    margin-left: 82px;
  }
}

.vno::before {
  position: absolute;
  content: "";
  display: block;
  width: 59px;
  height: 60px;
  background-image: url(/vno.137f90dd.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .vno::before {
    width: 59px;
  }
}
@media screen and (min-width: 1366px) {
  .vno::before {
    position: absolute;
    width: 100px;
    height: 102px;
    background-image: url(/vno-ds.e372bd5e.svg);
  }
}

.teaching::before {
  position: absolute;
  content: "";
  display: block;
  width: 59px;
  height: 60px;
  background-image: url(/modern-teaching.a8a60508.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .teaching::before {
    width: 59px;
  }
}
@media screen and (min-width: 1366px) {
  .teaching::before {
    position: absolute;
    width: 100px;
    height: 102px;
    background-image: url(/teaching-ds.e6b2b359.svg);
  }
}

.result::before {
  position: absolute;
  content: "";
  display: block;
  width: 59px;
  height: 60px;
  background-image: url(/garanty-result.86726f1d.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .result::before {
    width: 59px;
  }
}
@media screen and (min-width: 1366px) {
  .result::before {
    position: absolute;
    width: 100px;
    height: 102px;
    margin-right: 0;
    background-image: url(/result-ds.9a860a8d.svg);
  }
}

.first-color-container {
  width: 100%;
}

.second-color-container {
  width: 100%;
  background-color: var(--primaries-color);
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1366px) {
  .footer-container {
    flex-direction: row;
    padding-top: 52px;
    padding-bottom: 53px;
  }
}

.first-color-container .logo {
  width: 85px;
  height: 30px;
}
@media screen and (min-width: 768px) {
  .first-color-container .logo {
    width: 128px;
    height: 45px;
  }
}

.tel-link {
  display: flex;
  align-items: center;
  margin-top: 21px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.08em;
  color: var(--text-color);
}
.tel-link::before {
  content: " ";
  display: block;
  background-image: url(/tel-icon.1118470f.svg);
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .tel-link {
    margin-top: 0;
    margin-left: auto;
  }
}
@media screen and (min-width: 1360px) {
  .tel-link {
    margin-left: 335px;
  }
}

.inst-link {
  display: flex;
  position: relative;
  width: 40px;
  height: 40px;
  margin-top: 31px;
  background-image: url(/instagram.4b783f94.png);
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .inst-link {
    background-image: url(/instagram2x.47bf460e.png);
  }
}
@media screen and (min-width: 768px) {
  .inst-link {
    margin-top: 0;
    margin-left: 48px;
  }
  .inst-link::before {
    content: " ";
    position: absolute;
    transform: translateX(-24px);
    display: block;
    width: 1px;
    height: 40px;
    border: 1px solid #b9b9b9;
  }
}
@media screen and (min-width: 1366px) {
  .inst-link {
    margin-right: auto;
  }
}

.second-color-container .container {
  padding-top: 22px;
  padding-bottom: 21px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .second-color-container .container {
    text-align: start;
  }
}

.order-text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: var(--accent-text-color);
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */