<section class="header">
  <div class="container">
    <nav class="nav">
      <a href="./index.html" class="logo">
        <svg class="logo-svg">
          <use href="./images/sprite/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <button type="button" class="button btn-tablet" data-tablet-modal-open>
        Консультация по телефону
      </button>
      <button type="button" class="button-menu" data-menu-button>
        <svg class="mobile-sitch" aria-label="переключатель мобильного меню">
          <use
            href="./images/sprite/sprite.svg#icon-menu-burger"
            class="icon-menu"
          ></use>
          <use
            href="./images/sprite/sprite.svg#icon-menu-cross"
            class="icon-cross"
          ></use>
        </svg>
      </button>
      <div class="mobile-menu" data-menu>
        <div class="container">
          <svg class="logo-menu">
            <use href="./images/sprite/sprite.svg#icon-logo"></use>
          </svg>
          <ul class="tablet-menu">
            <li class="item">
              <a href="#programm" class="link"> Программы обучения</a>
            </li>
            <li class="item"><a href="#about" class="link"> О нас</a></li>
            <li class="item">
              <a href="#how-we-do" class="link"> Варианты обучения</a>
            </li>
            <li class="item"><a href="#contacts" class="link"> Контакты</a></li>
          </ul>
          <button type="button" class="button" data-modal-open>
            Консультация по телефону
          </button>
        </div>
      </div>
    </nav>
  </div>
</section>
