<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <h2 class="title list">Мы вам перезвоним</h2>
    <button class="close" data-modal-close>❌</button>
    <form class="js-speaker-form" autocomplete="off">
      <ul class="modal-list list">
        <li class="item">
          <label class="lable"
            >Имя
            <span class="wrapper">
              <input class="input list" type="text" name="name" />
            </span>
          </label>
        </li>
        <li class="item">
          <label class="lable">
            Телефон
            <span class="wrapper">
              <input class="input list" type="tel" name="tel" />
            </span>
          </label>
        </li>
        <li class="item">
          <label class="lable">
            Почта
            <span class="wrapper">
              <input class="input list" type="email" name="mail" />
            </span>
          </label>
        </li>
        <li class="item">
          <label class="lable"
            >Комментарий
            <textarea
              class="comment list"
              name="comment"
              placeholder="Введите текст"
            ></textarea>
          </label>
        </li>
      </ul>
      <button class="btn-push button item" type="submit">Отправить</button>
    </form>
  </div>
</div>
