<section class="section-problems">
  <div class="container">
    <div class="tumb"></div>
    <h2 class="section-title">
      Главные проблемы учеников <br />
      на English ВНО, которые мы <br />
      <span class="acsent">помогаем</span> решить
    </h2>
    <ul class="numbered-list">
      <li class="item">
        <p class="item-title">— 0</p>
        <p class="text-wide">Незнание грамматики</p>
      </li>
      <li class="item">
        <p class="item-title">— 0</p>
        <p class="text-wide">Неумение воспринимать устную английскую речь</p>
      </li>
      <li class="item">
        <p class="item-title">— 0</p>
        <p class="text-wide">Скупой словарный запас для написания сочинения</p>
      </li>
      <li class="item item-low">
        <p class="item-title">— 0</p>
        <p class="text-wide">Подготовка в одиночку</p>
      </li>
      <li class="item">
        <p class="item-title">— 0</p>
        <p class="text-wide">Отсутствие единого ресурса знаний</p>
      </li>
      <li class="item">
        <p class="item-title">— 0</p>
        <p class="text-wide">Недостаток самоорганизации и лень</p>
      </li>
    </ul>
  </div>
</section>
