.about {
  padding-top: 270px;
  padding-bottom: 50px;
}

.teacher {
  margin-bottom: 20px;
}

.teacher-photo {
  width: 243px;
  height: 305.58px;
  margin-bottom: 20px;
}

.teacher-name {
  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--grey-text-color);
}

.experience {
  list-style: none;

  .experience-description {
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.06em;

    &::before {
      content: ' ';
      position: absolute;
      width: 17px;
      height: 14px;

      background-image: url('./images/teacher-check.svg');
    }
  }
}
